div, textarea {
	box-sizing: border-box;
}
video, audio {
	display: block;
	max-width: 100%;
}
#WelcomeContainer {
	width: 27em;
	text-align: center;
	margin: auto;
	height: 17em;
	border-radius: 4px;
	border: 1px solid #98ABE3;
	padding: 15px;
}
#WelcomeContainer img {
	display:block;
	margin: auto;
}
select {
	font-size: 0.8em;
}
input {
	width: 100%;
	box-sizing: border-box;
	margin: 4px 0;
	border-radius: 4px;
	border: 1px solid #98ABE3;
	padding: 2px 5px;
	font-size: 1em;
}
input[type="file"] {
	background-color: initial;
}
input[type="checkbox"] {
	display: inline-block;
	width: unset;
	width: 0.8em;
	height: 0.8em;
}
#splashForm input {
	margin: 8px 0;
	padding: 7px 20px;
	font-size: 1.5em
}
input[type=submit] {
	border: none;
	cursor: pointer;
	background-color: #C0EECA;
}
input[type=submit]:hover {
	background-color: #98E3A8;
}
input[type=submit][value="Delete"]:hover {
	background-color: #e39898;
}
input[type="radio"]{
	width: auto;
	margin: 4px 4px;
}
form {
	width:100%;
}
ul {
	margin: 0px;
}
#HeadMenu {
	width:100%;
	text-align: center;
}
#HeadMenu a {
	color: unset;
}

#HeadMenu .dropDownContent {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0);
	padding: 12px 16px;
	z-index: 1;
	width:192px;
	background-color: white;
	left: -80%; /*Half Parent Width*/
	font-size: .8em;
}

#HeadMenu .dropDownContent ul li {
	font-size: .8em;
	margin-bottom: 5px;
	border-right:none;
	border-bottom: solid 1px black;
	display: block;
	padding-bottom: 5px;
	position: relative;
}
#HeadMenu .dropDownContent ul li:last-child {
	border-bottom: none;
}

#HeadMenu ul li:hover .dropDownContent {
	display: block;
}

#HeadMenu ul {
	font-size: 1.25em;
	padding: 5px;
}
#HeadMenu ul li {
	margin-right: 5px;
	border-right: solid 1px black;
	display: inline-block;
	padding-right: 5px;
	position: relative;
	list-style: none;
}
#HeadMenu ul li:last-child {
	border-right: none;
}
#HeadMenu ul.crumbs {
	font-size: .9em;
}
#HeadMenu ul.crumbs li {
	border: none;
	margin: 0px;
	padding: 0px;
}

#HeadMenu ul.crumbs li:after {
	content: " >"
}

#HeadMenu ul.crumbs li:last-of-type:after {
	content: none;
}

#SideMenu {
	min-width: 350px;
	font-size: .9em;
	background-color: #C0EECA;
	border-color: #98ABE3;
	border-radius: 0px 10px 0px 0px;
}
#SideMenu ul {
	padding: 0px 0px 0px 1em;
}
#SideMenu > ul {
	padding: 0px 0px 0px .25em;
}
#SideMenu #SideMenuTop, #SideMenu #SideMenuTop li {
	border-radius: inherit;
	background-color: #C0CCEE;
}
#SideMenuTop li {
	border-bottom: #98ABE3 1px solid;
}
#SideMenuTop li:first-of-type {
	border-bottom: #98ABE3 1px solid;
	border-radius: inherit;
}
#SideMenu #SideMenuTop li:hover {
	background-color: #98ABE3;
}
#SideMenu a:hover {
	background-color:#C0CCEE;
}
#SideMenu li {
	text-transform: capitalize;
	position: relative;
	display: block;
	padding: 2px;
}
#SideMenu li:nth-child(even) {
	background-color: #a9e4b6;
}
#SideMenu li:nth-child(odd) {
	background-color: #C0EECA;
}

#SideMenu li ul {
	/*border-left: solid 2px #DC918F;*/
}

#SideMenu ul {
	background-color: inherit;
}
#SideMenu a {
	color: unset;
	text-decoration: none;
}
.naviPlus {
	display: inline-block;
	width:1em;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #98ABE3;
	margin-right: .1em;
	color: black;
	background-color: #98E3A8;
	cursor: pointer;
}
.naviPlus:hover {
	background-color: #70D886;
}
.naviLabel {
	width:100%;
}

#LibraryNavigation {
	border-radius: 0px 10px 0px 0px;
	background-color:#C0EECA;

}

#LibraryNavigation li:hover {
	background-color: #98E3A8;
}

#LibraryNavigation a {
	color: unset;
	text-decoration: none;
}

.confirmContainer {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.541);
	position: fixed;
	top:0px;
	left: 0px;
	z-index: 1;
}

.confirmCard {
	position: relative;
	top:50%;
	height: 10em;
	width: 20em;
	margin: 0px auto;
}

/*Create page menu option*/
.createPageMenuOption form{
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0);
	padding: 12px 16px;
	z-index: 1;
	width:192px;
	background-color: white;
	left: 90%; /*Offset so it overlaps parent a bit*/
	top: -75%; 
	box-sizing: border-box;
}

.createPageMenuOption {
	background-color: inherit !important;
}

.createPageMenuOption:hover form {
	display: block;
}

.confirmCSRF {
	display:none;
}

#MainContentContainer {
	width: 100%;
	padding: 0px 10px 10px 10px;
}
.resetHeight {
	max-height: initial !important;
}
#BodyContent {
	width: 100%;
	display:flex;
	min-height: 100%;
}
#BodyContent:after {
	clear:both;
	content:"";
	display:table;
}
body, html {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 20px;
	height:100%;
	color: black;
}
#Footer {
	text-align: right;
	color: white;
	background-color: lightgray;
}
#Footer a {
	color: white;
}
#Footer ul {
	margin: 0px;
}
#Footer ul li {
	margin-right: 5px;
	border-right: solid 1px white;
	display: inline-block;
	padding-right: 5px;
}
#Footer ul li:last-child {
	border-right: none;
}
td, tr, th {
	text-align: left;
}
h1, h2, h3, h4, h5 {
	margin-top: .33em;
	margin-bottom: .66em;
}
h1 {
	font-size: 2em;  
	border-bottom: solid #98ABE3 4px;
}

h2 {
	font-size: 1.7em;
	border-bottom: solid #98ABE3 3px;
}

h3 {
	font-size: 1.5em;
	border-bottom: solid #98ABE3 2px;
}

h4 {
	font-size: 1.1em;
	border-bottom: solid #98ABE3 1px;
}
h5 {
	font-size: 1.05em; 
	margin-top: 1em;
	margin-bottom: .1em;
}
h6 {
	font-size: 1em; 
	margin-top: .15em;
	margin-bottom: .05em;
	font-weight: normal;
	text-decoration: #98ABE3 underline;
	text-decoration-style: dotted;
}
.displayBlock {
	display:block !important;
}
.displayHidden {
	display:none !important;
}
#messageContainer {
	background-color: #f9f9aa;
	border-radius: 4px;
	padding: .5em;
	position: absolute;
	top:0px;
	width: 100%;
	z-index: 2;
}
#CellMenuButton {
	display: none;
	cursor: pointer;
}
table {
	width: 100%;
}
tr:nth-child(odd) {
	background-color: #a9e4b6
}
video, audio {
	margin: auto;
}
.card {
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	padding-bottom: 1em;
	border: solid 1px #98ABE3;
	margin-top: 1em;
}

#EditPageForm textarea{
	width:100%;
	resize:vertical;
	height:400px;
}

.searchPreview {
	max-height: 10em;
	font-size: .75em;
	background-color: #EEEEEE;
	overflow: scroll;
}

.searchPreview pre {
	padding: 0.2em;
	margin: 0em;

}

/*Cell phone selector*/
@media (max-device-width: 536px), (max-width: 536px) {
	#WelcomeContainer {
		width: 100%;
		border: none;
		margin: auto;
		height: auto;
	}
	#WelcomeContainer img {
		width: 66vw;
	}
	#HeadMenu ul li {
		display: block;
		border: none;
	}
	#HeadMenu {
		height: auto;
	}
	#SideMenu {
		display: block;
		width: 100%;
		flex: none;
	}
	body {
		font-size: 40px;  
	}
	.cellDefaultHidden {
		display:none !important;
	}
	#CellMenuButton {
		display: block;
		padding: .1em;
		width: 1.8em;
		height: 1.8em;
		text-align: center;
	}
	video, audio {
		width: 100%;
		display: block;
	}
	.card {
		width: 100%;
	}
	#HeadMenu .dropDownContent {
		width: calc(100vw - 32px);
		left:0px;
	}
	/*Create page menu option*/
	.createPageMenuOption form{
		width: calc(100vw - 36px);
		left:8px;
		top:unset;
	}

	/*used to show or hide cell-only items*/
	.cellDisplayBlock {
		display:block !important;
	}
	.cellDisplayHidden {
		display:none !important;
	}
}