/* Stolen from theoratkin (https://github.com/Ionaru/easy-markdown-editor/issues/131) */
.EasyMDEContainer .CodeMirror {
    color: var(--textcolor);
    border-color: var(--border-color);
    background-color: var(--bgcolor);
}
.EasyMDEContainer .cm-s-easymde .CodeMirror-cursor {
    border-color: var(--textcolor);
}

.CodeMirror-cursor {
    border-left:1px solid var(--textcolor);
    border-right:none;width:0;
}

.EasyMDEContainer .editor-toolbar > * {
    /*border-color: var(--border-color);*/
}

.editor-toolbar {
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    background-color: var(--inputhover-color);
}

.editor-toolbar i.separator {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.EasyMDEContainer .editor-toolbar > .active, .editor-toolbar > button:hover, .editor-preview pre, .cm-s-easymde .cm-comment {
    background-color: var(--primary-alt-color);
}

.EasyMDEContainer .CodeMirror-fullscreen {
    background: var(--bgcolor);
}
.editor-toolbar.fullscreen {
    background: var(--bgcolor);
}

.editor-preview {
    background: var(--bgcolor);
}

.editor-preview-side {
    border-color: var(--border-color);
}

.CodeMirror-selected {
    background: var(--secondary-color);
}

.CodeMirror-focused .CodeMirror-selected {
    background: var(--secondary-color);
}

.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection {
    background:var(--secondary-color)
}

.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection {
    background:var(--secondary-color)
}

.EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
    background: var(--secondary-color)
}