{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			{{template "librarymenu.html" .}}
			<div id="MainContentContainer">
				<form method="POST" id="EditPageForm">
					{{.CSRF}}
					<input type="text" name="PageName" value="{{.PageData.Name}}">
					<textarea name="PageContent" id="PageContent">{{.PageData.Content}}</textarea>
					<script>
						var easyMDE = new EasyMDE({element: $('#PageContent')[0]});
					</script>
					<input type="submit" value="Update">
				</form>
			</div>
		</div>
{{template "footer.html" .}}