		<div id="messageContainer" class="display{{if .HTMLMessage}}Block{{else}}Hidden{{end}}">
			{{if .HTMLMessage}}{{.HTMLMessage}}<br>{{end}}
			<a href="javascript:ToggleDIVDisplay('messageContainer');">Click here</a> to close this message.
		</div>
		<div id="CellMenuButton" onclick="toggleCSSClass('HeadMenu', 'cellDefaultHidden'); toggleCSSClass('SideMenu', 'cellDefaultHidden'); toggleCSSClass('MainContentContainer', 'cellDefaultHidden');">&#9776;</div>
		<div id="HeadMenu" class="cellDefaultHidden">
			<ul>
				<li><a href="/">Home</a></li>
				{{if ne .UserInformation.DBID 0}}
				{{if ne .PageData.ID 0}}
				<li>Note
					<div class="dropDownContent" id="noteDDC">
						<ul>
							<li>
								<a href="/page/{{.PageData.ID}}/view">View{{if ne .PageData.RevisionID 0}} Current{{end}}</a>
							</li>
							<li>
								<a href="/page/{{.PageData.ID}}/edit">Edit</a>
							</li>
							{{if ne .PageData.RevisionID 0}}
							<li>
								<a href="/page/{{.PageData.ID}}/edit?revisionID={{.PageData.RevisionID}}">Edit from Revision</a>
							</li>
							{{end}}
							<li>
								<a href="/page/{{.PageData.ID}}/file">Files</a>
							</li>
							<li>
								<a href="/page/{{.PageData.ID}}/security">Security</a>
							</li>
							<li>
								<a href="/page/{{.PageData.ID}}/move?ParentPageID={{.PageData.PrevID}}">Move</a>
							</li>
							<li>
								<a href="/page/{{.PageData.ID}}/revisions">Revisions</a>
							</li>
							<li>
								<form action="/page/{{.PageData.ID}}/delete" method="POST">
									{{.CSRF}}
									<input type="submit" value="Delete" onclick="return ShowConfirmForDelete(this,'This will also delete all child notes, files, the current and previous revisions!');">
								</form>
							</li>
						</ul>
					</div>
				</li>
				{{end}}
				<li>Profile
					<div class="dropDownContent" id="logoutDDC">
						<ul>
							<li>
								<a onclick="return SwapPageTheme();" href="#">Change Theme</a>
							</li>
							<li>
								<a href="/openidc/logout">Logout</a>
							</li>
						</ul>
					</div>
				</li>
				{{end}}
				<li><a href="/about/about.html">About</li></a>
			</ul>
			<ul class="crumbs">
				{{define "crumbitem"}}
					{{if gt (len .Children) 0}}
					<li><a href="/page/{{.ID}}/view">{{.Name}}</a></li>
						{{range .Children}}
							{{template "crumbitem" .}}
						{{end}}
					{{end}}
				{{end}}

				{{if .BreadCrumbRoot}}
					<li><a href="/">Root</a></li>
					{{if gt (len .BreadCrumbRoot.Children) 0}}
						{{range .BreadCrumbRoot.Children}}
							{{template "crumbitem" .}}
						{{end}}
					{{end}}
					{{if eq (len .PageData.Children) 0}}
					<li><a href="/page/{{.PageData.ID}}/view">{{.PageData.Name}}</a></li>
					{{end}}
					{{if ne .PageData.RevisionID 0}}
					<li><a href="/page/{{.PageData.ID}}/revision/{{.PageData.RevisionID}}">[Revision: {{.PageData.RevisionTime}}] {{.PageData.Name}}</a></li>
					{{end}}
				{{else}}
				<li>&nbsp;</li>
				{{end}}
			</ul>
		</div>