			<div id="SideMenu" class="cellDefaultHidden">
				<ul>
					<li class="sideSearchForm">
						<form id="searchForm" action="/search" method="get">
							<input type="text" name="Search" placeholder="Search...">
						</form>
					</li>
					{{if .IsLoggedOn}}
					<li class="createPageMenuOption specialSideMenuli">Create Note +
						<form method="POST" action="/createpage">
							{{.CSRF}}
							<input type="text" name="NoteName" placeholder="New Note" autocomplete="off" required>
							<input type="hidden" name="ParentID" value="{{.PageData.ID}}" required>
							<input type="submit" value="Create">
						</form>
					</li>
					{{end}}
					{{if ne .PageData.ID 0}}
					{{if ne .PageData.PrevID 0}}
					<li id="backPageMenuOption" class="backPageSpacer"><a href="/pages/{{.PageData.PrevID}}/view"><div class="naviPlus" onclick="return RefreshLibraryMenu('{{.PageData.PrevID}}');">-</div></a>{{.PageData.Name}}</li>
					{{else}}
					<li id="backPageMenuOption" class="backPageSpacer"><a href="/"><div class="naviPlus" onclick="return RefreshLibraryMenu('0');">-</div></a>{{.PageData.Name}}</li>
					{{end}}
					{{else}}
					<li id="backPageMenuOption" class="backPageSpacer">Library Root</li>
					{{end}}
				</ul>
				<ul id="naviMenu">
					{{range .ChildPages}}
					<a href="/page/{{.ID}}/view"><li><div class="naviPlus" onclick="return RefreshLibraryMenu('{{.ID}}');">+</div>{{.Name}}</li></a>
					{{end}}
				</ul>
			</div>