			<div id="SideMenu" class="cellDefaultHidden">
				<ul id="SideMenuTop">
					<li class="sideSearchForm">
						<form id="searchForm" action="/search" method="get">
							<input type="text" name="Search" placeholder="Search...">
						</form>
					</li>
					{{if .IsLoggedOn}}
					<li class="createPageMenuOption">Create Note +
						<form method="POST" action="/createpage">
							{{.CSRF}}
							<input type="text" name="NoteName" placeholder="New Note" autocomplete="off" required>
							<input type="hidden" name="ParentID" value="{{.PageData.ID}}" required>
							<input type="submit" value="Create">
						</form>
					</li>
					{{end}}
					<a href="/"><li id="libraryRootMenuOption">Library Root</li></a>
				</ul>
				<ul id="naviMenu">
					{{define "navimenuitem"}}
					<li>
						<a href="/page/{{.ID}}/view"><div class="naviPlus" onclick="return ToggleLibraryMenu('{{.ID}}', this);">{{if .Children}}-{{else}}+{{end}}</div><span class="naviLabel">{{.Name}}</span></a>
						<ul>
							{{range .Children}}
								{{template "navimenuitem" .}}
							{{end}}
						</ul>
					</li>
					{{end}}
					{{define "navimenuitemli"}}
					<li>
						<a href="/page/{{.ID}}/view"><div class="naviPlus" onclick="return ToggleLibraryMenu('{{.ID}}', this);">{{if .Children}}-{{else}}+{{end}}</div><span class="naviLabel">{{.Name}}</span></a>
						<ul>
							{{if .Children}}
							{{range .Children}}
								{{template "navimenuitemli" .}}
							{{end}}
							<li class="confirmCSRF">
								<form method="POST" action="/createpage">
									<input type="hidden" name="ParentID" value="{{.ID}}" required>
								</form>
							</li>
							{{end}}
						</ul>
					</li>
					{{end}}

					{{if .IsLoggedOn}}
						{{range .BreadCrumbRoot.Children}}
							{{template "navimenuitemli" .}}
						{{end}}
						<li class="createPageMenuOption">Create Note +
							<form method="POST" action="/createpage">
								{{.CSRF}}
								<input type="text" name="NoteName" placeholder="New Note" autocomplete="off" required>
								<input type="hidden" name="ParentID" value="{{.PageData.ID}}" required>
								<input type="submit" value="Create">
							</form>
						</li>
					{{else}}
						{{range .BreadCrumbRoot.Children}}
							{{template "navimenuitemli" .}}
						{{end}}
					{{end}}
				</ul>
			</div>
			<template id="createPageTemplate">
				<li class="createPageMenuOption">Create Note +
					<form method="POST" action="/createpage">
						{{.CSRF}}
						<input type="text" name="NoteName" placeholder="New Note" autocomplete="off" required>
						<input type="hidden" name="ParentID" value="0" required>
						<input type="submit" value="Create">
					</form>
				</li>
			</template>
