{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			{{template "librarymenu.html" .}}
			<div id="MainContentContainer">
				<h2>Search Results</h2>
				{{if .SearchResults}}
				<ul>
					{{range .SearchResults}}
					<li class="pageMenuOption"><a href="/page/{{.ID}}/view">{{.Name}}</a> <div class="searchPreview"><pre>{{.Content}}</pre></div></li>
					{{end}}
				</ul>
				{{else}}
					No results found.
				{{end}}
			</div>
		</div>
{{template "footer.html" .}}