{{template "header.html" .}}
	<body>
		{{template "headMenu.html" .}}
		<div id="BodyContent">
			{{template "librarymenu.html" .}}
			<div id="MainContentContainer">
				<h3>Upload</h3>
				<form method="POST" enctype="multipart/form-data" action="./file/upload" id="UploadPageForm">
					{{.CSRF}}
					<label>File(s)</label><input type="file" name="Files" multiple="multiple"/><br>
					Add to page content? <input type="checkbox" name="AutoAddFile" value="checked"/><br>
					<input type="submit" value="Upload">
				</form>
				<h3>Download</h3>
				<form method="GET" id="DownloadPageForm" onsubmit="return downloadResourceFile(this);">
					{{.CSRF}}
					<label>File</label>
					<select name="File">
						{{range .PageResources}}
						<option value="{{.}}">{{.}}</option>
						{{end}}
					</select>
					<br>
					<input type="submit" value="Download" >
				</form>
				<h3>Delete</h3>
				<form method="POST" enctype="multipart/form-data" action="./file/delete" id="UploadPageForm">
					{{.CSRF}}
					<label>File</label>
					<select name="File">
						{{range .PageResources}}
						<option value="{{.}}">{{.}}</option>
						{{end}}
					</select>
					<br>
					<input type="submit" value="Delete">
				</form>
			</div>
		</div>
{{template "footer.html" .}}